body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;
  color: rgb(50, 50, 50);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
